name: Test Scrapy-Puppeteer Library

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.7.x"  # Min Python version
          - python-version: "3.8.x"
          - python-version: "3.9.x"
          - python-version: "3.10.x"
          - python-version: "3.11.x"
          - python-version: "3.12.x"
          - python-version: "3.x"  # Last Python version

    steps:
      - uses: actions/checkout@v3

      - name: Set Python version ${{ matrix.python-version }} Up
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install -r requirements.txt

      - name: Install Ruff and Black
        run: |
          pip install ruff black

      - name: Run Ruff
        run: |
          ruff check .

      - name: Run Black
        run: |
          black --check .

      - name: Run Tests
        run: |
          python -m pytest